In [37]:
# Melakukan import libraries yang akan digunakan
import pandas as pd
import numpy as np
import pickle
import json

In [38]:
# Melakukan load model dan file-file lain yang dibutuhkan
with open('model_scaler.pkl', 'rb') as file_1:
  scaler = pickle.load(file_1)
with open('model_pca.pkl', 'rb') as file_2:
  pca = pickle.load(file_2)
with open('model_kp.pkl', 'rb') as file_3:
  kp = pickle.load(file_3)
with open('index_cols.txt', 'r') as file_4:
  index_cols = json.load(file_4)
with open('num_cols.txt', 'r') as file_5:
  num_cols = json.load(file_5)
with open('cat_cols.txt', 'r') as file_6:
  cat_cols = json.load(file_6)

In [39]:
# Menjadikan data inference menjadi dataframe
data_inf = pd.read_csv('data_inference.csv')
data_inf

,neighborhood,price,size_in_sqft,price_per_sqft,no_of_bedrooms,no_of_bathrooms,maid_room,concierge,pets_allowed,private_garden,private_gym,private_jacuzzi,private_pool,shared_pool
0,Downtown Dubai,15800000,5253,3007.81,4,5,False,False,False,True,True,False,True,False

In [40]:
# Membuat data train dan test data numerik
inf_num = data_inf[num_cols]
# Membuat data train dan test data kategorikal
inf_cat = data_inf[cat_cols]
inf_cat

,neighborhood,maid_room,concierge,pets_allowed,private_garden,private_gym,private_jacuzzi,private_pool,shared_pool
0,Downtown Dubai,False,False,False,True,True,False,True,False

In [41]:
# Melakukan scaling dan dimension reduction
inf_scaled = scaler.transform(inf_num)
inf_scaled_pca = pca.transform(inf_scaled)

In [42]:
inf_final = np.concatenate([inf_scaled_pca, inf_cat], axis=1)
inf_final = pd.DataFrame(inf_final, columns=[['PCA1', 'PCA2', 'PCA3'] + cat_cols])
inf_final = inf_final.infer_objects()
inf_final

,PCA1,PCA2,PCA3,neighborhood,maid_room,concierge,pets_allowed,private_garden,private_gym,private_jacuzzi,private_pool,shared_pool
0,12.432994,4.498791,5.102783,Downtown Dubai,False,False,False,True,True,False,True,False

In [43]:
pred = kp.predict(inf_final, categorical=index_cols)
pred

array([0], dtype=uint16)